.peoplemap {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.peoplemapForm {
  display: flex;
  column-gap: 1rem;
  margin: 0.5rem;
}
#peoplemapCanvas {
  width: 100%;
  flex: auto;
}
.peoplemapMarker {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
  white-space: pre;
}

.peoplemapMarker::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285F4;
}
