#reportIndex
    padding 1.5rem 0.75rem
.reportIndex-form-row
    display flex
    flex-wrap wrap
    align-items center
    margin-top 0.5rem
    input
        margin-left 1em
        &:first-child, &[type=date]
            margin-left 0
.reportIndex-form-label
    width 8rem
