.classpersonRegistrant {
  margin-top: 1rem;
  font-weight: bold;
}
.classpersonCandidate,
.classpersonConfirm {
  margin-left: 2rem;
}
.classpersonError {
  margin-left: 2rem;
  color: red;
}
.classpersonWarning {
  margin-left: 2rem;
  color: magenta;
}