.newpwdFeedbackMeter {
  margin: 0.5rem 0;
  height: 0.5rem;
  width: 11rem;
  background-color: #e9ecef;
}
.newpwdFeedbackMeterStep {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 0.5rem;
  margin: 0 0 0 0.25rem;
}
.newpwdFeedbackMeterStep:first-child {
  margin-left: 0;
}
.newpwdFeedbackMeterStep.bad {
  background-color: #dc3545;
}
.newpwdFeedbackMeterStep.warn {
  background-color: #ffc107;
}
.newpwdFeedbackMeterStep.good {
  background-color: #28a745;
}
.newpwdFeedback div.bad,
.newpwdFeedback div.warn {
  color: #dc3545;
}
.newpwdFeedback div.good {
  color: #28a745;
}
@media (min-width: 55em) {
  .form:not(.form-2col) .newpwdFeedbackMeter {
    margin-top: 0;
  }
}
