#editPerson
    padding 1.5rem 0.75rem
#editPerson-firstName-row, #editPerson-lastName-row, #editPerson-email-row, #editPerson-phone-row
    display flex
    flex-wrap wrap
    align-items center
    margin-top 1.5rem
#editPerson-firstName-label, #editPerson-lastName-label, #editPerson-email-label, #editPerson-phone-label
    width 8rem
#editPerson-firstName, #editPerson-lastName, #editPerson-email, #editPerson-phone
    max-width 20rem
#editPerson-firstName-error, #editPerson-lastName-error, #editPerson-email-error, #editPerson-phone-error
    color red
.editPerson-group-label
    margin-top 1.5rem
#editPerson-team-table td
    padding 2px
    height calc(1.5rem + 4px)
    vertical-align middle
#editPerson-team-table select
    height 1.5rem
#editPerson-submit-row
    margin-top 1.5rem
