#getEventAttendance
    padding 1.5rem 0.75rem
#getEventAttendance-group-label
    margin-top 1.5rem
.getEventAttendance-group-row
    margin-top 0.25rem
#getEventAttendance-submit-row
    margin-top 1.5rem
