#editEvent
    padding 1.5rem 0.75rem
#editEvent-date-row, #editEvent-name-row, #editEvent-hours-row, #editEvent-type-row, #editEvent-teams-row
    display flex
    flex-wrap wrap
    align-items center
    margin-top 1.5rem
#editEvent-date-label, #editEvent-name-label, #editEvent-hours-label, #editEvent-type-label, #editEvent-teams-label
    width 6rem
#editEvent-date, #editEvent-name, #editEvent-hours
    max-width 20rem
#editEvent-date-error, #editEvent-name-error, #editEvent-hours-error, #editEvent-type-error, #editEvent-teams-error
    color red
.editEvent-group-label
    margin-top 1.5rem
.editEvent-group-row
    margin-top 0.25rem
#editEvent-submit-row
    margin-top 1.5rem
#editEvent-delete
    margin-left 3rem
