#listEvents
    padding 1.5rem 0.75rem
#listEvents-title
    display flex
    align-items center
#listEvents-year
    margin-left 1rem
    font-size 1rem
#listEvents-table
    margin-top 1.5rem
    th, td
        padding 0.25rem 1em 0 0
        vertical-align top
#listEvents-buttons
    margin-top 1.5rem
