#editTeam
    padding 1.5rem 0.75rem
#editTeam-name-row, #editTeam-parent-row, #editTeam-email-row
    display flex
    flex-wrap wrap
    align-items center
    margin-top 1.5rem
#editTeam-name-label, #editTeam-parent-label, #editTeam-email-label
    width 6rem
#editTeam-name-error
    color red
#editTeam-name, #editTeam-email
    max-width 20rem
#editTeam-privileges-label, #editTeam-inPrivs-label
    margin-top 1.5rem
#editTeam-privileges-table, #editTeam-inPrivs-table
    margin-top 0.5rem
    th
        padding-right 1em
        font-weight normal
    td
        padding-right 1em
        vertical-align middle
        text-align center
        &:first-child
            text-align left
.indent-1
    padding-left 1em !important
.indent-2
    padding-left 2em !important
.indent-3
    padding-left 3em !important
.indent-4
    padding-left 4em !important
.indent-5
    padding-left 5em !important
#editTeam-submit-row
    margin-top 1.5rem
#editTeam-delete
    margin-left 3rem
