.eventview {
  display: grid;
  grid: auto-flow max-content / 1fr;
  column-gap: 0.75rem;
}
.eventviewSection {
  margin-bottom: 1.5rem;
  padding: 0 0.25rem 0.5rem;
  background-color: #f5f5f5;
}
.eventviewSectionHeader {
  margin: 0 -0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  min-height: calc(1.8125rem + 2px); /* height of sbutton small */
}
.eventviewSectionHeaderText {
  color: black;
  font-size: 1.25rem;
  padding-left: 0.75rem;
}
.eventviewSectionHeaderEdit {
  flex: none;
  padding-left: 0.25rem;
  background-color: white;
}
.eventviewButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (min-width: 48em) {
  .eventview {
    grid: auto-flow max-content / 1fr 1fr;
  }
}
@media (min-width: 66em) {
  .eventview {
    grid: auto-flow max-content / 1fr 1fr 1fr;
  }
}
