#editRole
    padding 1.5rem 0.75rem
#editRole-name-row, #editRole-team-row
    display flex
    flex-wrap wrap
    align-items center
    margin-top 1.5rem
#editRole-name-label, #editRole-team-label
    width 6rem
#editRole-name-error
    color red
#editRole-name
    max-width 20rem
#editRole-privileges-label
    margin-top 1.5rem
#editRole-privileges-table
    margin-top 0.5rem
    th
        padding-right 1em
        font-weight normal
    td
        padding-right 1em
        vertical-align middle
        text-align center
        &:first-child
            text-align left
#editRole-submit-row
    margin-top 1.5rem
#editRole-delete
    margin-left 3rem
