titlebarHeight = 40px
sidebarWidth = 6rem
body
    line-height 1
label
    margin-bottom 0
#layout-heading
    position fixed
    z-index 1
    display flex
    justify-content space-between
    align-items center
    height titlebarHeight
    background-color #006600
    color #fff
    @media print
        display none
#layout-menu-trigger-box, #layout-menu-spacer
    flex none
    margin 0 6px
    width 2rem
    cursor pointer
    user-select none
#layout-menu-trigger
    @media (min-width: 576px)
        display none
#layout-titlebox
    display flex
    flex none
    flex-direction column
    width calc(100vw - 5.5rem)
    text-align center
#layout-title
    overflow hidden
    width 100%
    text-overflow ellipsis
    white-space nowrap
    font-size 1.5rem
#layout-main
    position relative
    padding-top titlebarHeight
    @media print
        padding-top 0
#layout-menu
    position fixed
    overflow hidden
    width 0
    height 'calc(100vh - %s)' % titlebarHeight
    background-color #ccc
    transition width 0.5s ease-in-out
    .layout-menu-open &
        overflow visible
        width sidebarWidth
        border-right 1px solid #888
    @media (min-width: 576px)
        overflow visible
        width sidebarWidth
        border-right 1px solid #888
    @media print
        display none
#layout-menu-welcome
    margin-bottom 0.5rem
    padding 0.75rem
    width calc(sidebarWidth - 1px)
    border-bottom 1px solid white
    text-align center
    white-space nowrap
    font-size 0.75rem
.layout-menu-item
    display block
    padding 0.5rem 0 0.5rem 0.75rem
    width sidebarWidth
    color black
    font-size 1.25rem
    &:hover
        color black
        text-decoration none
.layout-menu-item-active
    border-top 1px solid #888
    border-bottom 1px solid #888
    background-color white
#layout-content
    margin-left 0
    transition margin-left 0.5s ease-in-out
    .layout-menu-open &
        margin-left sidebarWidth
    @media (min-width: 576px)
        margin-left sidebarWidth
    @media print
        margin-left 0
.pageTitle
    font-size 1.5rem
