.pubhome {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: stretch;
}
.pubhomeHead {
  flex: none;
  display: grid;
  padding-bottom: 1.5rem;
  grid-template: 'name name' 'logo body' 'logo login' / 25% auto;
  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;
}
.pubhomeHeadName {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.2;
  grid-area: name;
  color: #006600;
}
.pubhomeHeadLogo {
  max-width: 120px;
  width: 100%;
  grid-area: logo;
}
.pubhomeHeadText {
  align-self: center;
  line-height: 1.2;
  grid-area: body;
}
.pubhomeHeadLogin {
  grid-area: login;
}
.pubhomeOrgs {
  flex: none;
  display: grid;
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 536px;
  grid-template: 'listos' 'spanish' 'cert' 'sares' 'snap' / auto;
  gap: 1.5rem 1rem;
}
.pubhome #folder-listos {
  grid-area: listos;
}
.pubhome #folder-spanish {
  grid-area: spanish;
}
.pubhome #folder-cert {
  grid-area: cert;
}
.pubhome #folder-cert .folder-logo {
  margin-top: 0.5rem;
}
.pubhome #folder-sares {
  grid-area: sares;
}
.pubhome #folder-sares .folder-logo {
  margin-top: 1rem;
}
.pubhome #folder-snap {
  grid-area: snap;
}
.pubhomeOrg {
  display: grid;
  grid-template: 'name name' 'logo body' 'links links' / 25% auto;
  grid-column-gap: 1rem;
}
.pubhomeOrgName {
  color: #006600;
  font-weight: bold;
  font-size: 1.25rem;
  grid-area: name;
}
.pubhomeOrgLogo {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  grid-area: logo;
}
.pubhomeOrgText {
  line-height: 1.2;
  grid-area: body;
}
.pubhomeOrgLinks {
  grid-area: links;
  margin-top: 0.5rem;
}
.pubhomeFooter {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 1.5rem 0 0.75rem;
  font-size: 0.875rem;
}
@media (min-width: 450px) {
  .pubhomeOrg {
    grid-template: 'logo name' 'logo body' 'logo links' / 25% auto;
  }
}
@media (min-width: 504px) {
  .pubhomeHead {
    grid-template: 'name name' 'logo body' 'logo login' / 120px auto;
  }
  .pubhomeOrg {
    grid-template: 'logo name' 'logo body' 'logo links' / 120px auto;
  }
}
@media (min-width: 560px) {
  .pubhomeHead {
    margin: 0 auto;
    max-width: 536px;
  }
}
@media (min-width: 632px) {
  .pubhomeOrgs {
    max-width: 1088px;
    grid-template: 'listos cert' 'spanish sares' 'snap none' / calc(50% - 8px) calc(50% - 8px);
  }
  .pubhomeOrg {
    grid-template: 'name name' 'logo body' 'links links' / 25% auto;
  }
}
@media (min-width: 700px) {
  .pubhomeHead {
    max-width: 676px;
    grid-template: 'name name name' 'logo body login' / 120px auto min-content;
  }
}
@media (min-width: 892px) {
  .pubhomeOrg {
    grid-template: 'logo name' 'logo body' 'logo links' / 25% auto;
  }
}
@media (min-width: 1000px) {
  .pubhomeOrg {
    grid-template: 'logo name' 'logo body' 'logo links' / 120px auto;
  }
}
