.userhome {
  display: grid;
  padding: 0; /* no canvas margin */
  grid-template: 'arrow welcome pad' min-content 'text text text' auto / 44px 1fr 44px;
}
.page-menuOpen .userhome {
  grid-template: 'welcome' auto 'helpers' 1fr / 1fr;
}
.userhomeArrow {
  color: #f032e6;
  grid-area: arrow;
}
.page-menuOpen .userhomeArrow {
  display: none;
}
.userhomeWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  grid-area: welcome;
}
.page-menuOpen .userhomeWelcome {
  margin-bottom: 0.5rem;
  height: calc(3.75rem + 1px);
  font-size: 1.25rem;
  line-height: 1.2;
}
.userhomeClosed {
  color: #f032e6;
  font-weight: bold;
  grid-area: text;
}
.page-menuOpen .userhomeClosed {
  display: none;
}
.userhomeHelpers {
  display: none;
}
.page-menuOpen .userhomeHelpers {
  display: block;
  grid-area: helpers;
}
.userhomeHelper {
  display: flex;
  align-items: center;
  height: 2.125rem;
  color: #f032e6;
  font-size: 0.75rem;
  line-height: 1.2;
}
.userhomeHelper-left {
  flex: none;
  display: flex;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  color: #f032e6;
}
.userhomeSeealso {
  margin: 1rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
@media (min-width: 576px) {
  .userhome {
    grid-template: 'welcome' auto 'helpers' 1fr / 100%;
  }
  .userhomeArrow {
    display: none;
  }
  .userhomeWelcome {
    margin-bottom: 0.5rem;
    height: calc(3.75rem + 1px);
    font-size: 1.25rem;
    line-height: 1.2;
    padding-right: calc(100vw - 100%);
  }
  .userhomeClosed {
    display: none;
  }
  .userhomeHelpers {
    display: block;
    grid-area: helpers;
  }
  .userhomeHelper {
    font-size: 1rem;
  }
}
